@tailwind base;
@tailwind components;

@layer components {
    .button {
        @apply normal-case mr-5 h-16 rounded-full text-white w-96
    }
}

@tailwind utilities;

.home-selected {
    color: rgb(253, 51, 158);
}

.span {
    color: rgb(253, 51, 158);
}

.home-select:hover {
    color: rgb(253, 51, 158);
}

/* 导航菜单 */
.bttn:hover {
    cursor: pointer;
}

.button {
    width: 254px
}

/* 跳转按钮 */
.sort-btn {
    position: relative;
    border: 2px solid #fff;
}

.sort-btn:hover {
    background-color: #fff;
    color: black;
}

.sort {
    position: absolute;
    width: 30px;
    top: 16px;
    right: 50px
}

.img {
    width: 100%;
}
.img1 {
    width: 75%;
}
.img2 {
    width: 50%;
}

.ipt:focus {
    outline: none;
}
.flex-space {
    display: flex;
    justify-content:flex-start;
}
/* 响应式 */
/* 隐藏视图 */
@media screen and (max-width:1024px) {
    .Display{
        display:none;
    }
}
/* flex排列方式 */
@media screen and (max-width:768px) {
    .Flex{
        display: flex;
        flex-direction:column;
    }
    .Flex-r{
        display: flex;
        flex-direction:column-reverse;
    }
    .Margin-t {
        margin-top: 10px;
    }
    .Margin-T {
        margin-top: 70%;
    }
    .Margin-B {
        margin-bottom: 50px;
    }
    .Margin-b {
        margin-bottom: 35%;
    }
    .Width {
        width: 100%;
    }
    .Width1 {
        width: 60%;
    }
}
